.btn-table-link {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-table {
  height: 20px;
}

.form-table-b {
  display: inline-block;
}

.nav {
  margin-bottom: 20px;
}

.mapa {
  width: 140px;
  height: 140px;
}
