.btn-table-link {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-table {
  height: 20px;
}

.nav {
  margin-bottom: 20px;
}

.table .td-mapa-1 {
  width: 157px;
}

.table .td-mapa-3 {
  border: 0;
}

.table .td-mapa-2 {
  font-size: 20px;
}

.table .form-mapa {
  display: inline-block;
}

.mapa {
  width: 140px;
  height: 140px;
}

.gmnoprint,
.gmnoscreen {
  display: none;      
}
